.arrows-container {
  /* padding-bottom: 50px; */
    background-color:  rgba(49, 49, 54, 0.993);
    text-align: center;
  }
  
  .left-arrow {
    font-size: 2em;
    margin-right: 1em;
    color:black;
    cursor: pointer;
  }
  
  .right-arrow {
    font-size: 2em;
    margin-left: 1em;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .image {
    width: 100vw;
    height: 250px; 
    object-fit: cover; /* scale the image to fill the container, maintaining aspect ratio */
  }