
.arrows-container {
    background-color:  rgba(49, 49, 54, 0.993);
    text-align: center;
  }
  
  .left-arrow {
    font-size: 2em;
    margin-right: 1em;
    color:black;
    cursor: pointer;
  }
  
  .right-arrow {
    font-size: 2em;
    margin-left: 1em;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .image {
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
  }@media only screen and (max-width: 768px) {
    .slider {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: space-between;
    }
    .image {
      width: 100vw;
      height: 250px;
      object-fit: cover;
    }
    .slide {
      flex: 1 0 auto;
    }
  
    .arrows-container {
      position: static;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
  }